<label for="sighting_date">Date</label>
<input id="sighting_date" name="date">
<label for="sighting_lat">Latitude</label>
<input id="sighting_lat" name="latitude">
<label for="sighting_long">Longitude</label>
<input id="sighting_long" name="longitude"></br></br>
