<div class="form-group">
  <label for="sighting_date">Date</label>
  <input id="sighting_date" name="date" class="form-control">
</div>
<div class="form-group">
  <label for="sighting_lat">Latitude</label>
  <input id="sighting_lat" name="latitude" class="form-control">
</div>
<div class="form-group">
  <label for="sighting_long">Longitude</label>
  <input id="sighting_long" name="longitude" class="form-control">
</div>
