<h1>Home</h1>


<p>Select a species below to view sighting data:</p>
<form role="form" action="/sightings">
  <div class="form-group">
    <label for="species">Species:</label></br>
    <select id="species" name="species_id">
      <% @species.each do |species| %>
        <option value="<%= species.id %>"><%= species.animal %></option>
      <% end %>
    </select>
  </div>
  <input type="submit" value="Select">
</form>

</br>



<p>Add a new species to the library:</p>
<form role="form" action="/species" method="post">
  <div class="form-group">
    <input id='animal' name='animal' type='text'>
  </div>
  <input type="submit" value="Add">
</form
